@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

:root {
    --cor-primaria: #fff;
    --cor-secundaria: #0187a7;
    --cor-terciaria: #000000;
    --cor-body: #424244;
    --cor-boxshadow-rodape: #464646;
    --cor-hover: #c7e1e7;

    --fonte-principal: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Codes para arrumar o cabeçalho de navegação*/

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--cor-primaria);
    z-index: 3;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    font-family: var(--fonte-principal);
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: var(--cor-terciaria);
}

.conteudo-barra-pesquisa{
    width: 30%;
    display: flex;
    align-items: center;
}

.caixa-pesquisa {
    background-color: #f1f2f3;
    border: solid 1px var(--cor-terciaria);
    height: 70%;
    width: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;

}

.barra-pesquisa {
    outline: none;
    border: none;
    background: none;
    width: 100%;
    padding: 0;
    padding-left: 10px;
    color: var(--cor-body);
    font-size: 20px;
    line-height: 30px;
}

.caixa-pesquisa i{
    padding-right: 30px;
    font-size: 20px;
    color: var(--cor-terciaria);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-item i{
    margin-right: 5px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--cor-terciaria);
    font-weight: 400;
}

/* Estilizando menu mobile */

.icon{
    width: 30px;
    height: 30px;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* Codes de responsividade */

@media screen and (max-width: 1170px) {

    .logo h1{
        font-size: 20px;
    }

    .conteudo-barra-pesquisa{
        margin: 0 auto;
        width: 90%;
    }

    .caixa-pesquisa{
        height: 45px;
        width: 100%;
    }

    .nav-bar {
        padding: 1.5rem 1rem;
        flex-direction: column;
        gap: 10px;
    }

    .nav-item {
        display: none;
        font-family: var(--fonte-principal);
    }

    .teste{
        display: flex;
        gap: 70%;
    }

    .mobile-menu-icon {
        position: relative;
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu{
        position: absolute;
        right: 0;
        width: 50vw;
        height: 36vh;
        background: var(--cor-primaria);
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: flex;
        justify-content: center;
        padding: 2rem 0rem 2rem 0rem;
    }

    .mobile-menu .nav-item:hover{
        background-color: #f1f2f3;
    }

    .mobile-menu .nav-item a:hover{
        font-size: 20px;
    }

    .nav-item i{
        margin-right: 10px;
    }

    .open {
        display: block;
    }

}