/* Importação de fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400&display=swap');

:root {
    --cor-primaria: #fff;
    --cor-secundaria: #f9f9f9;
    --cor-terciaria: #44434a;
    --cor-quartenaria: #ff7f50;
    --cor-buttons: linear-gradient(135deg, #ff7f50, #ff6347);
    --cor-buttons-houver: linear-gradient(135deg, #d2663e, #ef4629);

    --fonte-principal: 'Roboto', sans-serif;
    --fonte-secundaria: 'Poppins', sans-serif;
}

/* Codes do main do site */

body {
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    background-color: var(--cor-primaria);
}



/* Estilizando a aba "Nossa Marca" do site */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--cor-secundaria);
    color: var(--cor-terciaria);
    padding: 0 20px;
}

.conteudo-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: 50px;
}

.texto-home {
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: left;
    z-index: 1;
}

.texto-home h1 {
    font-family: var(--fonte-secundaria);
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.texto-home p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.button-cardapio {
    font-family: var(--fonte-secundaria);
    background: var(--cor-buttons);
    color: var(--cor-primaria);
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button-cardapio a {
    text-decoration: none;
    color: var(--cor-primaria);
}

.button-cardapio:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: var(--cor-buttons-houver);
}

/* Imagem em destaque no home */

.img-home {
    position: relative;
    width: 45%;
    height: 70vh;
    background-color: var(--cor-primaria);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.5s ease;
}

.img-home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.img-home:hover {
    transform: scale(1.05);
}

/* Estilizando a parte dos benefícios */

.beneficios {
    background-color: #f1f2f3;
    padding: 50px 0;
    text-align: center;
}

.beneficios h2 {
    font-size: 36px;
    font-weight: bold;
    color: #44434a;
    margin-bottom: 30px;
}

.beneficios-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.beneficio, .beneficio1 {
    background: #dbbe92;
    color: #9b613c;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 60px;
    max-height: 60px;
}

.beneficio:hover, .beneficio1:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.beneficio h3, .beneficio1 h3 {
    font-family: var(--fonte-secundaria);
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 1px;
}

.beneficio p, .beneficio1 p {
    font-size: 10px;
    margin-top: 1px;
}

.beneficio i, .beneficio1 i {
    font-size: 20px;
    color: #9b613c;
}

/* Estilizando o carrosel de ofertas */

.ofertas-intro {
    font-family: var(--fonte-secundaria);
    text-align: center;
    margin-top: 50px;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ofertas-intro h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #44434a;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
}

.ofertas {
    width: 100vw;
    height: 70vh;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.slider {
    width: 80vw;
    height: 60vh;
    position: relative;
    overflow: hidden;
    background-color: var(--cor-primaria);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    display: flex;
    transition: 1s;
}

.slider .list img{
    width: 90vw;
    height: 60vh;
    object-fit: cover;
}

.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider .buttons button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff8e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--cor-primaria);
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.slider .buttons button:hover {
    background-color: var(--cor-primaria);
}

.slider .buttons i{
    color: var(--cor-terciaria);
}

.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: var(--cor-primaria);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: var(--cor-primaria);
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active{
    width: 30px;
}

/* Estilizando o cardápio */

.cardapio-intro {
    font-family: var(--fonte-secundaria);
    text-align: center;
    margin-top: 50px;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardapio-intro h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #44434a;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
}

.cardapio {
    background-color: var(--cor-secundaria);
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.conteudo-cardapio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 0fr));
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

.crdp-item1,
.crdp-item2,
.crdp-item3,
.crdp-item4,
.crdp-item5,
.crdp-item6,
.crdp-item7,
.crdp-item8 {
    background-color: var(--cor-primaria);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}

.crdp-item1 a,
.crdp-item2 a,
.crdp-item3 a,
.crdp-item4 a,
.crdp-item5 a,
.crdp-item6 a,
.crdp-item7 a,
.crdp-item8 a{
    text-decoration: none;
}

.crdp-item1:hover,
.crdp-item2:hover,
.crdp-item3:hover,
.crdp-item4:hover,
.crdp-item5:hover,
.crdp-item6:hover,
.crdp-item7:hover,
.crdp-item8:hover {
    transform: scale(1.05);
}

.crdp-img1 {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 5px solid var(--cor-quartenaria);
}

.nome-drink {
    font-family: var(--fonte-secundaria);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-top: 20px;
    padding: 0 15px;
}

/* Estilo para limitar a descrição a 3 linhas */
.desc-drink {
    height: 60px;
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    padding: 0 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;  /* Necessário para o funcionamento do -webkit-line-clamp */
    -webkit-line-clamp: 3;  /* Limita a 3 linhas */
    overflow: hidden;  /* Esconde o conteúdo que ultrapassar as 3 linhas */
    text-overflow: ellipsis;  /* Adiciona '...' no final do texto cortado */
}


.preco-drink {
    font-family: var(--fonte-secundaria);
    text-align: center;
    color: var(--cor-quartenaria);
    font-size: 22px;
    margin-top: 20px;
}

.button-ver {
    font-family: var(--fonte-secundaria);
    background: var(--cor-buttons);
    color: var(--cor-primaria);
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 40px;
    margin: 20px auto 30px auto;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-ver:hover {
    background: var(--cor-buttons-houver);
}

/* Codigo para deixar alguns produtos escondidos */

.conteudo-cardapio .escondido {
    display: none;
}

/* Estilizando o botão "Ver Mais" */

.ver-mais-btn {
    font-family: var(--fonte-secundaria);
    display: block;
    width: 180px;
    padding: 10px;
    font-size: 18px;
    background: var(--cor-buttons);
    color: var(--cor-primaria);
    border: none;
    border-radius: 5px;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ver-mais-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: var(--cor-buttons-houver);
}

/* Estilizando o rodapé do site */

footer {
    background-color: #222;
    color: var(--cor-primaria);
    padding: 40px 20px;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.footer-section {
    width: 30%;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #bbb;
}

/* Estilizando o site para celular */

@media screen and (max-width: 1170px) {
    
    .conteudo-home {
        flex-direction: column-reverse;
        text-align: center;
    }

    .texto-home {
        width: 100%;
        margin-bottom: 30px;
    }

    .texto-home h1 {
        font-size: 45px;
    }

    .texto-home p {
        font-size: 18px;
    }

    .img-home {
        width: 80%;
        height: 50vh;
    }

    .beneficio1{
        display: none;
    }

    .button-cardapio {
        font-size: 16px;
        padding: 12px 25px;
    }
    
    .ofertas{
        height: 70vh;
    }
    
    .carrosel {
        width: 90vw;
        height: 30vh;
        margin-left: 20px;
    }

    .conteudo-cardapio {
        grid-template-columns: 1fr;
    }

    .crdp-img1 {
        height: 200px;
    }

    .nome-drink {
        font-size: 20px;
    }

    .desc-drink {
        font-size: 14px;
    }

    .preco-drink {
        font-size: 20px;
    }

    .button-comprar {
        width: 140px;
        font-size: 16px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        width: 100%;
        margin-bottom: 20px;
    }
}