<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/crud.css">
    <link rel="stylesheet" href="/static/listagem.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>CRUD Produto</title>
    <script>

    </script>
</head>
<body>
    <h1>{{ 'Editar Produto' if produto else 'Criar Produto' }}</h1>

    <!-- Formulário para Criar ou Editar Produto -->
    <form method="POST" enctype="multipart/form-data">
        {% if produto %}
        <!-- Formulário de Edição (exibe os dados do produto) -->
        <input type="hidden" name="id" value="{{ produto.id }}">
        {% endif %}
        
        <label for="nome">Nome:</label>
        <input type="text" name="nome" value="{{ produto.nome if produto else '' }}" required><br>
    
        <label for="descricao">Descrição:</label>
        <textarea name="descricao" required>{{ produto.descricao if produto else '' }}</textarea><br>
    
        <label for="preco">Preço:</label>
        <input type="number" step="0.01" name="preco" value="{{ produto.preco if produto else '' }}" required><br>
    
        <label for="preco_desconto">Preço com Desconto:</label>
        <input type="number" step="0.01" name="preco_desconto" value="{{ produto.preco_desconto if produto else '' }}"><br>
    
        <label for="image">Imagem:</label>
        {% if produto.image %}
        <img src="/{{ produto.image }}" alt="{{ produto.nome }}" width="100">
        <input type="file" name="image"><br><br>
        {% else %}
        <input type="file" name="image" required><br><br>
        {% endif %}

   
        <label for="categoria">Categoria</label>
        <select id="categoria" name="categoria" required>
            <option value="bebidas" {% if produto and produto.categoria == 'bebidas' %}selected{% endif %}>Bebidas</option>
            <option value="sorvetes" {% if produto and produto.categoria == 'sorvetes' %}selected{% endif %}>Sorvetes</option>
            <option value="musses" {% if produto and produto.categoria == 'musses' %}selected{% endif %}>Musses</option>
        </select>
  
        <!-- <label for="image_url">URL da Imagem:</label>
        <input type="text" name="image_url" value="{{ produto.image_url if produto else '' }}" required><br><br> -->
    
        <label for="tamanho">Tamanho (em ml):</label>
        <input type="number" step="0.01" name="tamanho" value="{{ produto.tamanho if produto else '' }}" required><br><br>
    
        <button type="submit">{{ 'Salvar alterações' if produto else 'Criar Produto' }}</button>
    </form>
    
    {% if produto %}
    <!-- Formulário para excluir produto -->
    <form action="{{ url_for('delete', id=produto.id) }}" method="POST">
        <button type="submit" class="btn-delete">Excluir Produto</button>
    </form>
    {% endif %}

    <h1>Lista de Produtos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Tamanho</th>
                <th>Preço</th>
                <th>Preço com Desconto</th>
                <th>Imagem</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.id }}</td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.tamanho }}</td>
                <td class="price">R$ {{ produto.preco }}</td>
                <td class="price discount-price">R$ {{ produto.preco_desconto }}</td>
                <td><img src="/{{ produto.image }}" alt="{{ produto.nome }}"></td>
                <td>
                    <a href="/crud/{{produto.id}}" class="btn btn-edit">
                        <i class="fas fa-edit"></i> Editar
                    </a>
                    <a href="/delete/{{produto.id}}" onclick="return confirm('Deseja realmente excluir?')" class="btn btn-delete">
                        <i class="fas fa-trash"></i> Excluir
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <a href="{{ url_for('index') }}" class="btn btn-home">
            <i class="fas fa-home"></i> Voltar para a Página Inicial 
        </a>
        <a href="/crud" class="btn btn-create">
            <i class="fas fa-plus"></i> Criar 
        </a>
    </div>
</body>
</html>
