<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>EL VERANO</title>
</head>
<body> 
    <!-- Criando o cabeçalho do site -->
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1>EL <br>VERANO</h1>
            </div>
            <button class="menu-toggle" aria-label="Abrir menu">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="#home" class="nav-link"> <i class="fa-solid fa-address-card"></i> Nossa Marca </a></li>
                    <li class="nav-item"><a href="#ofertas" class="nav-link"> <i class="fa-solid fa-tag"></i> Ofertas </a></li>
                    <li class="nav-item"><a href="#cardapio" class="nav-link"> <i class="fa-solid fa-martini-glass-citrus"></i> Cardápio </a></li>
                </ul>
            </div>
        </nav>
        <div id="mensagem-sucesso" class="mensagem-sucesso">
            <i class="fa-solid fa-check-circle"></i>
            Compra feita com sucesso!
        </div>
    </header>
    <main>
        <!-- Codigo do HOME -->
        <div id="home" class="home">
            <div class="conteudo-home">
                <div class="texto-home">
                    <h1>O que somos?</h1>
                     <p>EL VERANO é uma empresa dedicada a oferecer os melhores produtos e serviços para nossos clientes. Com anos de experiência, buscamos sempre a qualidade e a satisfação do cliente.</p>

                    <button class="button-cardapio"><a href="#cardapio">Cardápio</a></button>
                </div>
                <div class="img-home">
                    <img class="img-home" src="/static/img/2.jpg" alt="">
                </div>
            </div>
        </div>

        <!-- Seção de Benefícios -->
        <div class="beneficios" id="ofertas">
            <h2>Benefícios de Comprar Conosco</h2>
            <div class="beneficios-container">
                <div class="beneficio">
                    <i class="fa-solid fa-star"></i>
                    <div>
                        <h3>Qualidade Garantida</h3>
                        <p>Oferecemos apenas os melhores produtos.</p>
                    </div>
                </div>
                <div class="beneficio">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div>
                        <h3>Entrega Rápida</h3>
                        <p>Receba seu pedido rapidamente.</p>
                    </div>
                </div>
                <div class="beneficio">
                    <i class="fa-solid fa-headset"></i>
                    <div>
                        <h3>Atendimento Personalizado</h3>
                        <p>Nossa equipe está sempre disponível.</p>
                    </div>
                </div>
                <div class="beneficio">
                    <i class="fa-solid fa-tags"></i>
                    <div>
                        <h3>Descontos Exclusivos</h3>
                        <p>Aproveite promoções especiais.</p>
                    </div>
                </div>
                <div class="beneficio1">
                    <i class="fa-solid fa-lock"></i>
                    <div>
                        <h3>Compra Segura</h3>
                        <p>Garantimos a segurança.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Texto antes da seção OFERTAS -->
        <div id="ofertas" class="ofertas-intro">
            <h2>Confira nossos descontos</h2>
        </div>

        <!-- Codigo das OFERTAS -->
        <div class="ofertas">
                <div class="slider">
                    <div class="list">
                        <div class="item">
                            <img src="/static/img/Desconto.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/static/img/Desconto2.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/static/img/Desconto3.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/static/img/Desconto4.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/static/img/5.jpg" alt="">
                        </div>
                    </div>
                    <div class="buttons">
                        <button id="prev"><i class="fa-solid fa-arrow-left"></i></button>
                        <button id="next"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                    <ul class="dots">
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
        </div>

        <!-- Texto antes da seção CARDÁPIO -->
        <div id="cardapio" class="cardapio-intro">
            <h2>Veja nosso cardápio</h2>
        </div>

        <!-- Codigo do CARDAPIO -->
        <div class="cardapio">
                <div class="conteudo-cardapio">
                    {% for produto in produtos[:4] %}
                    <div class="crdp-item{{ loop.index }}">
                        <a href="/item/{{ produto.id }}"><img class="crdp-img1" src="{{ produto.image }}" alt=""></a>
                        <div>
                            <h1 class="nome-drink">{{ produto.nome }}</h1>
                            <p class="desc-drink">{{ produto.descricao }}</p>
                            <h2 class="preco-drink">R$ {{ produto.preco_desconto | round(2) }}</h2>
                            <a href="/item/{{ produto.id }}"><button class="button-ver">Ver</button></a>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="conteudo-cardapio escondido">
                        {% for produto in produtos[4:] %}
                        <div class="crdp-item{{ loop.index + 4 }}">
                            <a href="/item/{{ produto.id }}"><img class="crdp-img1" src="{{ produto.image }}" alt=""></a>
                            <div>
                                <h1 class="nome-drink">{{ produto.nome }}</h1>
                                <p class="desc-drink">{{ produto.descricao }}</p>
                                <h2 class="preco-drink">R$ {{ produto.preco_desconto | round(2) }}</h2>
                                <a href="/item/{{ produto.id }}"><button class="button-ver">Ver</button></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button id="ver-mais" class="ver-mais-btn">Ver mais</button>
    </main>
    <script src="/static/script.js"></script>
    <script src="/static/header-script.js"></script>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>Contato</h3>
                <p>Telefone: (11) 1234-5678</p>
                <p>Email: contato@elverano.com.br</p>
            </div>
            <div class="footer-section">
                <h3>Endereço</h3>
                <p>Rua Exemplo, 123</p>
                <p>Cidade - Estado</p>
            </div>
            <div class="footer-section">
                <h3>Sobre a Empresa</h3>
                <p>EL VERANO é uma empresa dedicada a oferecer os melhores produtos e serviços para nossos clientes. Com anos de experiência, buscamos sempre a qualidade e a satisfação do cliente.</p>
            </div>
        </div>
    </footer>
    
</body>
</html>