<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/header-item.css">
    <link rel="stylesheet" href="/static/main-item.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Página do Item</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="nav-left">
                <button class="back-button" onclick="window.location.href='/';">
                    <i class="fa-solid fa-arrow-left"></i> Voltar
                </button>
            </div>
            <div class="logo">
                <h1>EL <br>VERANO</h1>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="div-img">
                <img src="{{ produto.image_url }}" alt="{{ produto.nome }}">
            </div>
            <div class="div-texto">
                <div class="titulo">
                    <h1>{{ produto.nome }}</h1>
                </div>
                <hr>
                <div class="descricao">
                    <p>{{ produto.descricao }}</p>
                </div>
                <hr>
                <p class="tamanho"><strong>Tamanho:</strong> <span>{{ produto.tamanho }} ml</span></p>
                <div class="preco">
                    <span class="preco-original">R$ {{ produto.preco | round(2) }}</span>
                    <span class="preco-desconto">R$ {{ produto.preco_desconto | round(2) }}</span>
                </div>
                <div class="buttons">
                    <div class="quantidade-controls">
                        <button id="tirar" class="btn-control">-</button>
                        <input type="text" id="quantidade" value="1" readonly>
                        <button id="botar" class="btn-control">+</button>
                    </div>
                    <a href="{{ url_for('comprar', produto_id=produto.id) }}" class="btn btn-primary">Comprar</a>

                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>Contato</h3>
                <p>Telefone: (11) 1234-5678</p>
                <p>Email: contato@elverano.com.br</p>
            </div>
            <div class="footer-section">
                <h3>Endereço</h3>
                <p>Rua Exemplo, 123</p>
                <p>Cidade - Estado</p>
            </div>
            <div class="footer-section">
                <h3>Sobre a Empresa</h3>
                <p>EL VERANO é uma empresa dedicada a oferecer os melhores produtos e serviços para nossos clientes. Com anos de experiência, buscamos sempre a qualidade e a satisfação do cliente.</p>
            </div>
        </div>
    </footer>
    <script src="/static/script.js"></script>
    <script src="/static/header-script.js"></script>
</body>
</html>
